<!DOCTYPE html>
<html>
<title>CONQUER JEE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>

<style type="text/css">
	body{
		font-family: 'Audiowide' ;
		color: #0d0d0d;
	}
	header {
		position: relative;
	}
	.maintext1{
		position: absolute;
		top: 100px;
		left: 230px ;
		color: #ececf9 ;

		
	}
	.maintext2{
		position: absolute;
		top: 700px;
		left: 180px ;
		color: #ececf9 ;

		
	}
</style>
	
	<script>
function myFunction() {
    alert("My whatsapp no -> 8188858438");
}
function myFunction1() {
    alert("My Email -> adeshundercover@gmail.com");
}
</script>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>CONQUER</b>JEE</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="{{url_for('reg')}}" class="w3-bar-item w3-button">Register</a>
      <a href="{{url_for('login')}}" class="w3-bar-item w3-button">Login</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
 
  <img class="w3-image" src="https://qph.fs.quoracdn.net/main-qimg-4e245ccdcc0f2cfb30f55c1c032ffa5d-c" alt="Architecture" width="1500" height="600">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>CRACK</b></span> <span class="w3-hide-small w3-text-light-grey">JEE</span></h1>
    <br>
    <br>
   
    
  </div>
</header>

<!-- Page content -->
   
  <div class="maintext1"> <h1 class=" w3-padding-16"  ><i>A Preparation Portal for JEE Aspirants.</i></h1></div>
  <div class="maintext2"> <h1 class=" w3-padding-16"  ><i>A Blogging Platform for Guidance of JEE Exam.</i></h1></div>
<div class="w3-content w3-padding" style="max-width:1564px">
<div class="w3-container w3-padding-32" id="about" style="text-align: center;">
    <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Us</h1>
    <p style="font-size: 25px;">We offer comprehensive solutions for preparation in the form of Blogs , Video Lectures, study material  which covers each and every concept of the respective entrance examinations.Our main objective is provide you with a straight pathway towards JEE.I ensure you that You will learn very useful stuff from this portal.
      <br>
      <br>
    Students who have past experience of JEE can share their experience through Blog and also by providing material for JEE aspirants .
    <br>
    <br>
We're committed to democratize education and ensure that every one gets an equal opportunity to pursue their education in the university of their choice.
    </p>
  </div>
  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects" align="center">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" style="text-decoration: underline;">Sample Video Lectures</h3>
  </div>

  <div class="w3-row-padding" >
    <div class="w3-col l3 m6 w3-margin-bottom">
  
      <div class="w3-display-container" style="margin-left: 100px; margin-right: 10px;" >

        
     <iframe src="https://drive.google.com/file/d/0Bwdzr07JWCdUam92YkJlMjlObHc/preview" width="480" height="360">Heat and Thermo</iframe>
      </div>
    </div>
    
   <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
      
      </div>
    </div>
   <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
       <iframe src="https://drive.google.com/file/d/1hSZHzj0xf3Mi4UsaWQOVC5HO4M3TS0Zo/preview" width="480" height="360">SHM</iframe>
       
      </div>
    </div>
  </div>
 
<div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" align="center" style="text-decoration: underline; ">Sample Study Material PDF</h3>
  </div>

  <div class="w3-row-padding" >
    <div class="w3-col l3 m6 w3-margin-bottom">
  
      <div class="w3-display-container" align="center">

        <a href="https://drive.google.com/open?id=1wMSgFUobboNrUfm211fZRousz8G-rWOu" target="_blank">Capacitance</a>
     
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <a href="https://drive.google.com/open?id=1U7JLWwp8B4-PWVEBy_M-N1BDCNoflJX7" target="_blank">Circle Theory</a>
       
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <a href="https://drive.google.com/open?id=1cisgzieEjV7vMkF6ITZ1eLUwt6fwURYh" target="_blank">Electrochemistry</a>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <a href="https://drive.google.com/open?id=163GA26K9cUuk9alf8Gsm-eeOm77jDz2c" target="_blank">POC Organic</a>
      </div>
    </div>
  </div>
 
  <br>
  <br>
  <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16" align="center">Register Now</h3>
  <br>
     <h3 class=" w3-padding-16" align="center">Register Now to access Blog posting portal and JEE aspirant Preparation Portal. <a href="{{url_for('reg')}}" target="_blank">Register</a>  </h3>
  <!-- About Section -->
  


  <!-- Contact Section -->
  
  
<div class="w3-container w3-padding-32" id="about" style="text-align: center;">
    <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16" id="contact" >Contact Us</h1>
  
  </div>

  
  <br>
<div class="row" style="color: #0d0d0d;">
		<a href="https://www.facebook.com/adesh.shukla.790" target="_blank" style="color: #0d0d0d;"><div class="col-lg-3 col-xs-6 col-md-4 col-sm-6 fa fa-facebook"   style="text-align: center; font-size: 50px;"></div></a>	
		<a href="https://github.com/aadixiiita" target="_blank" style="color: #0d0d0d;"><div class="col-lg-3 col-xs-6 col-md-4 col-sm-6 fa fa-github"   style="text-align: center; font-size: 50px;"></div></a>
		<div class="col-lg-3 col-xs-6 col-md-4 col-sm-6 fa fa-linkedin"   style="text-align: center; font-size: 50px;" ></div>
		<a href="" onclick="myFunction()" style="color: #0d0d0d;"><div class="col-lg-3 col-xs-6 col-md-4 col-sm-6 fa fa-whatsapp"  style="text-align: center; font-size: 50px;"></div></a>
	<br>
	<br>
	
   
<!-- End page content -->
</div>
<br>
<br>



</body>
</html>
